@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-xl shadow-md hover:bg-violet-700 focus:outline-none focus:ring transition-all;
  }

  .btn-secondary {
    @apply py-2 px-5 bg-yellow-500 text-white font-semibold rounded-xl shadow-md hover:bg-yellow-600 focus:outline-none focus:ring transition-all;
  }

  .card {
    @apply bg-white rounded-xl shadow-xl p-2 gap-2 border-[1px] border-gray-300 overflow-hidden hover:shadow-2xl transition-all hover:scale-[1.02];
  }

  .container {
    @apply m-0 p-0 w-full max-w-screen-xl mx-auto;
  }

  .title {
    @apply text-4xl text-gray-900 font-bold text-center;
  }

  .subtitle {
    @apply text-2xl text-gray-700 font-bold text-center;
  }

  .head {
    @apply text-xl text-gray-400 font-bold;
  }
  .bold {
    @apply text-gray-700 font-semibold;
  }
  .normal {
    @apply text-gray-700;
  }
  .input {
    @apply text-gray-700 border-[1px] border-gray-300 px-2 py-1 rounded-md;
  }
}
